<br>

users
{{#link-to 'newuser'}}New User{{/link-to}}
<br>

{{#each model}}
<b>name:</b> {{name}}<br>
{{#if books}}
<b>books:</b> 
<br>
{{#each book in books}}
- {{book.name}}
<br>
{{/each}}
{{/if}}
{{#link-to  'edituser' this}} edit{{/link-to}}
<a href="#" {{ action "deleteuser" this }}>delete</a>
<br><br>
{{/each}}
{{outlet}}
